.main {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  min-width: 0;
}

.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 0;
}

.header {
  flex-shrink: 0;
  font-size: 3.625rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header__notification {
  font-size: 2.75rem;
  background-color: aliceblue;
  padding: 0.35rem 0.65rem;
  border-radius: 0.25rem;
}

.reminder__input {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;

  & input {
    width: 100%;
  }
}

.reminder__textarea {
  height: 150px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.reminder__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 1rem;
}

.reminder__drawer {
  background-color: bisque;
  opacity: 0;
  width: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.reminder__drawer--active {
  width: 400px;
  opacity: 1;
}

.reminder__drawer-header {
  display: flex;
  align-items: center;

  & span {
    font-size: large;
  }
}

.reminder__drawer-header__button {
  margin-left: auto;
}

.reminder__drawer-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.reminder__drawer-button_delete {
  padding: 0.75rem 3rem;
  border-radius: 0.25rem;
  background-color: #444444;
}

.reminder__drawer-button_save {
  padding: 0.75rem 3rem;
  border-radius: 0.25rem;
  background-color: chocolate;
}

.drawer__items {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.drawer__items-list {
}
