.aside {
  width: 255px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: red;
  transition: all 0.3s ease;

  &--collapsed {
    width: 3rem;
  }
}
