@use "../../styles/tokens" as *;

.container {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: $spacing-medium;
  padding: $spacing-small $spacing-large;
  border: 1px solid $color-neutral-200;
  border-radius: $radius-md;
}

.font {
  width: 100%;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  line-height: $font-line-height-small;
  color: $color-neutral-950;
}

.label {
  position: absolute;
  color: $color-neutral-placeholder;
}
