@use "../../styles/tokens" as *;

.container {
  position: relative;
  background-color: antiquewhite;
}

.font {
  width: 100%;
  font-size: $size-font-text;
  font-weight: $weight-400;
  line-height: $line-height-text;
  color: $color-body-text;
}

.label {
  position: absolute;
  color: $color-body-placeholder;
}
