@use "../../styles/tokens" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: $spacing-medium;
  padding: $spacing-small $spacing-small;
  border: 1px solid $color-neutral-900;
  border-radius: $radius-md;
}

.font {
  width: 100%;
  font-size: $font-size-medium;
  font-weight: $font-weight-normal;
  line-height: $font-line-height-medium;
  color: $color-neutral-950;
}

.label {
  position: absolute;
  color: $color-neutral-placeholder;
}
