@use "../../styles/tokens/index" as *;

.default {
  display: inline-block;
  padding: 0 $padding-xs;
  border-radius: $border-radius-sm;
  font-size: $font-size-xs;
  background-color: $white-200;
  border: 1px solid transparent;
}

.large {
    font-size: $font-size-lg;
    background-color: $white-0;
    border-color: $white-300;
    padding: 0 $padding-sm;
}
