@use "../../styles/tokens" as *;

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: $spacing-3;
  padding: $spacing-1 $spacing-2;
  border-radius: $radius-sm;
  background-color: #ed9;
}

.left {
  margin-left: auto;
}

.right {
  margin-right: auto;
}
