@use "../../styles/tokens" as *;

.default {
  position: relative;
  padding: $spacing-small $spacing-large;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  line-height: $font-line-height-small;
  color: $color-neutral-950;
  border-radius: $radius-md;
  border: 1px solid $outlined-border;
}

.save {
  background-color: $color-yellow-500;
  border: transparent;
}

.loading {
  transition: all 0.1s ease-in;
  cursor: default;
  color: rgba(0, 0, 0, 0);
}
