@use "../../styles/tokens" as *;

.default {
  font-size: $size-font-text;
  font-weight: $weight-400;
  line-height: $line-height-text;
  color: $color-body-text;
}

.title {
  font-size: $size-font-title-0;
  font-weight: $weight-600;
  line-height: $line-height-title-0;
  color: $color-body-title;
}

.subtitle {
  font-size: $size-font-subtitle-0;
  font-weight: $weight-600;
  line-height: $line-height-subtitle-0;
  color: $color-body-text;
}

.muted {
  color: $color-body-placeholder;
}
