@use "../../styles/tokens" as *;

.inherit {
  font: inherit;
}

.h1 {
  font-size: $text-h1-size;
  font-weight: $text-h1-weight;
  line-height: $text-h1-line-height;
  color: $text-h1-color;
}

.h2 {
  font-size: $text-h2-size;
  font-weight: $text-h2-weight;
  line-height: $text-h2-line-height;
  color: $text-h2-color;
}

.h3 {
  font-size: $text-h3-size;
  font-weight: $text-h3-weight;
  line-height: $text-h3-line-height;
  color: $text-h3-color;
}

.h4 {
  font-size: $text-h4-size;
  font-weight: $text-h4-weight;
  line-height: $text-h4-line-height;
  color: $text-h4-color;
}

.h5 {
  font-size: $text-h5-size;
  font-weight: $text-h5-weight;
  line-height: $text-h5-line-height;
  color: $text-h5-color;
}

.body {
  font-size: $text-body-size;
  font-weight: $text-body-weight;
  line-height: $text-body-line-height;
  color: $text-body-color;
}

.muted {
  color: $color-neutral-placeholder;
}

.bold {
  font-weight: $font-weight-bold;
}

.nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}