$white-0: #fafafa;
$white-100: #f4f4f4;
$white-200: #ebebeb;
$white-300: #ededed;

$black-0: #212529;
$black-100: #444444;
$black-200: #7c7c7c;

$pink-0: #ff6b6b;

$purple-0: #da77f2;
$purple-100: #9775fa;

$blue-0: #5c7cfa;
$blue-100: #66d9e8;
$green-0: #8ce99a;

$yellow-0: #ffd43b;

$orange-0: #ff922b;
