$font-family-primary: "Lexend Deca", sans-serif;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-ls: 1.5rem;
$font-size-lg: 2.5rem;
$font-size-xl: 3rem;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;
$line-height-xs: 1rem;
$line-height-sm: 1.125rem;
$line-height-md: 1.5rem;
$line-height-ls: 2rem;
$line-height-lg: 3rem;
$line-height-xl: 3.5rem;
