body,
input {
  font-family: var(--f-family-primary);
}

.body {
  margin: 0 auto;
  width: calc(100vw - 2rem);
}

.container {
  height: 100vh;
  display: flex;
  padding: 0.75rem 0;
  background-color: #ed4a;
}

