* {
  box-sizing: border-box;
}

body,
ul,
li,
a,
button,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  background-color: inherit;
  border: none;
  outline: none;
}

a,
input {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}
