:root {
  --f-family-primary: "Lexend Deca", sans-serif;
  --f-size-sm: 0.75rem;
  --f-size-mds: 1rem;
  --f-size-md: 1.5rem;
  --f-size-lg: 3rem;
  --f-weigh-400: 400;
  --f-weigh-600: 600;
  --l-heigh-sm: 1rem;
  --l-heigh-mds: 1.5rem;
  --l-heigh-md: 2rem;
  --l-heigh-mdl: 1.125rem;
  --l-heigh-lg: 3.5rem;
  --c-bg-pri: #fafafa;
  --c-bg-sec: #f4f4f4;
  --c-bg-ter: #ebebeb;
  --c-black-contrast-0: #212529;
  --c-black-contrast-10: #444444;
  --c-black-contrast-20: #7c7c7c;
  --c-pink: #ff6b6b;
  --c-purple: #da77f2;
  --c-purple-10: #9775fa;
  --c-blue: #5c7cfa;
  --c-blue-10: #66d9e8;
  --c-green: #8ce99a;
  --c-yellow: #ffd43b;
  --c-orange: #f4f4f4;
  --c-border: #EDEDED;
}
