.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  transition: all 0.3s ease;

  &--collapsed {
    border: 1px solid transparent;
    padding-left: 0;

    & input {
      opacity: 0;
      pointer-events: none;
    }
  }
}
